*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; // 1rem  = 8px
  }
}

body {
  box-sizing: border-box;
  direction: rtl;

  @media only screen and (max-width: $bp-largest) {
  }
}

p {
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

.col-12 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-9 {
  width: 66.666%;
  float: left;

  @media only screen and (max-width: $bp-large) {
    width: 100%;
  }
}

.col-6 {
  width: 50%;
  float: left;

  @media only screen and (max-width: $bp-large) {
    width: 100%;
  }
}

.col-3 {
  width: 32%;
  float: left;
  margin: 0 0.5%;

  @media only screen and (max-width: $bp-large) {
    width: 100%;
  }
}

.section {
  padding: 10rem 0;
}
