@font-face {
  font-family: "iranYekan";
  src: url("public/fonts/eot/iranyekanweblight.eot");
  src: url("iranyekanweblight.eot?#iefix") format("embedded-opentype"),
    url("public/fonts/woff/iranyekanweblight.woff") format("woff"),
    url("public/fonts/ttf/iranyekanweblight.ttf") format("truetype");
  font-style: normal;
  font-weight: light;
}

body {
  font-weight: 400;
  line-height: 2;
  font-size: 1.5rem;
  font-family: iranYekan;
  color: #222f3e;
}

/**
 * Font Weight
 * *********************************/
.weight-400 {
  font-weight: 400 !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-800 {
  font-weight: 800 !important;
}

.weight-900 {
  font-weight: 900 !important;
}

/**
 * Heading
 * *********************************/
.heading-1 {
  font-size: 4.8rem;
  font-weight: 900;
}

.heading-2 {
  font-size: 3.2rem;
  font-weight: 900;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 900;
}

.heading-4 {
  font-size: 2rem;
  font-weight: 500;
}

.heading-5 {
  font-size: 1.6rem;
}

.heading-6 {
  font-size: 1.4rem;
}

/**
* Text
* *********************************/
.text {
  line-height: 2;

  &--pre-line {
    white-space: pre-line;
  }
}

.text-1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.text-2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.text-3 {
  font-size: 1.6rem;
  font-weight: normal;
}

.text-4 {
  font-size: 1.4rem;
  font-weight: bold;
}

.text-5 {
  font-size: 1.4rem;
  font-weight: 500;
}

.text-6 {
  font-size: 1.4rem;
  font-weight: normal;
}

/**
* captions
************************************/
.caption-1 {
  font-size: 1.2rem;
  font-weight: 500;
}

.caption-2 {
  font-size: 1.2rem;
  font-weight: normal;
}

/**
 * List
 * *********************************/
.unorder-list,
.order-list {
  padding-right: 24px;
  line-height: 1.8em;

  @include max-width(xs) {
    font-size: 1.3rem;
  }
}

.order-list {
  list-style-type: decimal;

  .order-list {
    list-style-type: lower-roman;
  }
}

.unorder-list {
  list-style-type: circle;

  .unorder-list {
    list-style-type: disc;
  }
}


[class*="-icon"] {
  width: 2rem;
  height: 2rem;
  fill: #f9ca24;
}

.text-center{  
  text-align: center;
}

.text-left{  
  text-align: left;
}

.text-right{  
  text-align: right;
}

.text-justify{  
  text-align: justify;
}