.advantage {
  &__item {

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &-title {
      border-right: 4px solid color("primary", "lighten-3");
      padding: 0 1rem;
    }

    &-text{
      margin-right: 1rem;
    }
  }

  &__icon {
    background-color: red;
  }

  &__link {
    color: color("secondary", "base");
    margin-right: 2rem;
  }

  svg {
    width: 4rem;
    height: 4rem;
  }

  .receipt-icon,
  .hq-icon {
    width: 5rem;
    height: 5rem;
  }

  &__img{
    background-color: red;
  }
}
