.col {
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  padding: 1.2rem;
}

@include max-width(xl) {
  @include column-maker(xl);
}

@include max-width(lg) {
  @include column-maker(lg);
}

@include max-width(md) {
  @include column-maker(md);
}

@include max-width(sm) {
  @include column-maker(sm);
}

@include max-width(xs) {
  @include column-maker(xs);
}
