.ctPanel {
  color: white;
  padding: 3rem;
  width: 30rem;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.094) 0px 0.2rem 1rem;
  background-color: #fff;

  h3 {
    font-size: 1.3rem;
    font-weight: normal;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
  }
}
