/**
 * Row
 * *********************************/
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 12px;
  margin-right: -15px;
  margin-left: -15px;

  &--no-gutter {
    margin: 0;

    .v-col {
      padding: 0;
    }
  }
}
