$marginDirections: top, bottom;

@mixin margin-maker($size: 100, $increment: 10) {
  @for $i from 1 through calc($size/$increment) {
    $value: $i * $increment;

    @each $direction in $marginDirections {
      .m#{str-slice($direction , 0 , 1)}#{$value} {
        margin-#{$direction}: #{$value}px !important;
      }
    }
  }
}

.margin-x-auto {
  margin: 0 auto;
}

.margin-y-auto {
  margin: auto 0;
}

.margin-auto {
  margin: auto;
}

.margin-r-auto {
  margin-right: auto;
}

.margin-l-auto {
  margin-left: auto;
}
