.depth-0 {
  box-shadow: $depth-0;
}

.depth-1 {
  box-shadow: $depth-1;
}

.depth-2 {
  box-shadow: $depth-2;
}

.depth-3 {
  box-shadow: $depth-3;
}

.depth-4 {
  box-shadow: $depth-4;
}

.depth-5 {
  box-shadow: $depth-5;
}
