.footer {
  width: 100%;
  position: relative;
  background-color: color("secondary", "base");

  &__link {
    color: white;
  }

  &__logo {
    width: 10rem;
  }

  &__section {
    margin: 0 auto;
    color: white;
    font-size: 1.4rem;
    text-align: right;

    @include max-width(xl) {
      margin: 2rem 0;
    }

    h4 {
      margin-bottom: 1rem;
    }
  }

  &__to-top {
    display: block;
    color: white;
    padding: 1rem 0;
  }
}
