/**
 * Breakpoints
 * *********************************/
$breakpoint-xl: 14.6rem;
$breakpoint-lg: 120rem;
$breakpoint-md: 99.2rem;
$breakpoint-sm: 76.8rem;
$breakpoint-xs: 48rem;

/**
    * Container
    * *********************************/
$container-width-xl: 143rem;
$container-width-lg: 116rem;
$container-width-md: 96rem;
$container-width-sm: 74rem;

// Breakpoints
$bp-largest: 62.5em; //1000px
$bp-large: 50em; //800px
$bp-medium: 37.5em; //600px
