$color-primary: #f9ca24;
$color-primary-1: #ffeaa7;
$color-secondary: #222f3e;
$color-secondary-1: #3f4b58;

$color-light-1: #f6f6f6;
$color-alt-white: #fff;

$shadow-1: 0 0.2rem 1rem rgba(#000, 0.095);
$transparent: transparent;
